<nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Credentials</a> 
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/signup">SignUp</a></li>
        <li routerLinkActive="active"><a routerLink="/signin">SignIn</a></li>
        <li routerLinkActive="active"><a routerLink="/projects">Projects</a></li>
      </ul>
    </div>
  </div>
</nav>


<!-- <header>
  <div class="container-fluid">
    <h1>Welcome !!</h1>
    <p>
      Enter Your project name
    </p>
  </div>
</header> -->