<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Sign In</h2>
    </div>
  </div>

  <form [formGroup]="signInForm" (ngSubmit)="onLogin()">
    <div class="row">
      <div class="col-sm-3 form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
        <span class="help-block" *ngIf="signInForm.get('email').invalid && signInForm.get('email').touched">Please enter Email Id</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password">
        <span *ngIf="signInForm.get('password').invalid && signInForm.get('password').touched">Please enter password</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <button class="btn btn-primary" type="submit" [disabled]="!signInForm.valid">Sign In</button>
      </div>
    </div>
  </form>

</div>