<form [formGroup]="addProjectForm" (ngSubmit)="onProjectSubmit">
  <div class="row">
    <div class="col-sm-3 form-group">
      <label for="add-project">Add Project</label>
      <input class="form-control" type="text" placeholder="Add Project" formControlName="projectName">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <button class="btn btn-primary" type="submit" (click)="onAddProject()" [disabled]="!addProjectForm.valid">Add Project</button>
    </div>
  </div>
  <hr/>
</form>