<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onAddCredential()">Add Credentials</button>
    <hr/>
    <h3>{{projects.projectName}}</h3>
    <input class="form-control" type="text" [(ngModel)]="queryString" id="search" placeholder="Search Credentials">

    <div id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default" *ngFor="let i = index;let credential of projects.credentialsList| FilterPipe:queryString">
        <div class="panel-heading" role="tab" [id]="'heading'+i">
          <h3 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+i" aria-expanded="true" [attr.aria-controls]="'collapse'+i">
              {{credential.credentialName}}
            </a>
          </h3>
        </div>
        <div [id]="'collapse'+i" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading'+i">
          <div class="panel-body">
            <p>{{credential.credentialPassword}}</p>
            <button class="btn btn-primary" type="button">Share</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <ul class="list-group">
      <li class="list-group-item" *ngFor="let credential of projects.credentialsList | FilterPipe:queryString ">
        {{credential.credentialName}}{{credential.credetialPassword}}
      </li>
    </ul> -->
  </div>
</div>