<div class="row">
  <div class="col-xs-12">
    <h3>Add Credentials of {{projectName}}</h3>
  </div>
</div>

<form [formGroup]="credentialForm" (ngSubmit)="onCredentialSubmit()">
  <div class="row">
    <div class="col-xs-12 form-group">
      <label for="credential-name">Credential Name</label>
      <input class="form-control" type="text" formControlName="credential-name">
      <span *ngIf="credentialForm.get('credential-name').invalid && credentialForm.get('credential-name').touched">Please enter credential name</span>
    </div>

    <div class="col-xs-12 form-group">
      <label for="password">Password</label>
      <input class="form-control" type="text" formControlName="password">
      <span *ngIf="credentialForm.get('password').invalid && credentialForm.get('password').touched">Please enter password</span>
    </div>

    <div class="col-xs-12">
      <button class="btn btn-success" type="submit" [disabled]="credentialForm.invalid">Submit Credential</button>
    </div>
  </div>
</form>

