<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Sign Up</h3>
    </div>
  </div>

  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">


    <div class="row">
      <div class="col-sm-3 form-group">
        <label for="first-name">First Name</label>
        <input class="form-control" type="text" id="first-name" formControlName="first-name">
        <span class="help-block" *ngIf="signUpForm.get('first-name').invalid &&
          signUpForm.get('first-name').touched">Please enter first name</span>
      </div>

      <div class="col-sm-3 form-group">
        <label for="last-name">Last Name</label>
        <input class="form-control" type="text" id="last-name" formControlName="last-name">
        <span class="help-block" *ngIf="signUpForm.get('last-name').invalid &&
          signUpForm.get('last-name').touched">Please enter last name</span>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 form-group">
        <label for="email">Email Id</label>
        <input class="form-control" type="email" id="email" formControlName="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
        <span class="help-block" *ngIf="signUpForm.get('email').invalid &&
          signUpForm.get('email').touched">Please enter valid email id</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password">
        <span class="help-block" *ngIf="signUpForm.get('password').invalid &&
          signUpForm.get('password').touched">Please enter valid password</span>
      </div>

      <div class="col-sm-3 form-group">
        <label for="confirm-password">Confirm Password</label>
        <input class="form-control" type="password" id="confirm-password" formControlName="confirm-password">
        <span class="help-block" *ngIf="signUpForm.errors?.mismatch || (signUpForm.get('confirm-password').touched && signUpForm.get('confirm-password').invalid)">
          Password didn't match
        </span>
      </div>
    </div>



    <div class="row">
      <div class="col-sm-3">
        <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
      </div>

      <div class="col-sm-3">
        <button class="btn btn-primary" type="button" (click)="onReset()">Reset</button>
      </div>
    </div>

  </form>
</div>